<!-- LOGIN MODAL -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Link Up With Your Friends</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
        </form>
        <br />
        <p>Not a member? <a href="/">Link Up</a></p>
        </form>
      </div>
      <div class="modal-footer">
				<button id="login-submit" type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>

<!-- SIGNUP MODAL -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Link Up With Your Friends</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="signup">
         <div class="form-group">
           <label for="exampleInputEmail1">Email address</label>
           <input type="email" class="form-control" id="email-input" placeholder="Email">
         </div>
         <div class="form-group">
           <label for="exampleInputEmail">Email confirm</label>
           <input type="email" class="form-control" id="email-check" placeholder="Email">
         </div>
         <div class="form-group">
           <label for="exampleInputPassword1">Password</label>
           <input type="password" class="form-control" id="password-input" placeholder="Password">
         </div>
         <div class="form-group">
           <label for="exampleInputPassword">Password confirm</label>
           <input type="password" class="form-control" id="password-check" placeholder="Password">
         </div>
         <div class="form-group">
           <label for="birthday">Birthday</label>
           <br>
           <input id="birthday" type="date" name="bday">
         </div>
           <div style="display: none" id="alert" class="alert alert-danger" role="alert">
           <span class="err-message">Your email or passord is not valid</span>
         </div>
       </form>
      </div>
      <div class="modal-footer">
        <button id="signup-submit" type="button" class="btn btn-primary">Link Up</button>
      </div>
    </div>
  </div>
</div>
