<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="http://placehold.it/160x60&amp;text=linkstagram" /></a>
  <button type="button" class="btn btn-lg logout-btn"><a href="/logout"><span class="material-icons clear"></span></a></button>
</nav>
<!-- User Info container -->
<div class="container user-container">
	<div class="row user-links-row">
		<div class="col-7 user-link-col">
	     <div class="row">
         <div class="col-12">
           <!-- user's links -->
          {{> links/link}}
         </div>
       </div>
  	</div>
		<div class="col-5">
			<div class="row">
				<div class="col-4">
          {{> UserImage }}
          <img class="img img-responsive img-fluid"src="http://placehold.it/200x200&amp;text=UserImage" alt="">
          <button id="edit-profile" type="button" name="edit-profile">Edit Profile</button>
      	</div>
        <div class="col-8">
          <div class="row">
            <div class="col">
              {{> userName }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{> userProfile }}
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>

<footer class="fixed-bottom">
  <div class="row footer-row">
    <button type="button" class="btn btn-success btn-lg btn-block col-sm-3 target_home"><span class="material-icons home"></span></button>
    <button type="button" class="btn btn-success btn-lg btn-block col-sm-3 target_search"><span class="material-icons search"></span></button>
    <button type="button" class="btn btn-success btn-lg btn-block col-sm-3 target_add" data-toggle="modal" data-target="#add-link-modal"><span data-toggle="modal" data-target="#add-link-modal" class="material-icons add"></span></button>
    <button type="button" class="btn btn-success btn-lg btn-block col-sm-3 target_person"><span class="material-icons person"></span></button>
  </div>
</footer>

<!-- New Links Modal -->
  <!-- <div class="modal fade login-modal" id="add-link-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"> -->
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add-link-title">Share Your Links Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="add-link">
            <div class="form-group">
              <label for="site-title">Site Title:</label>
              <input type="text" class="form-control" id="site-title" placeholder="Name of Site">
            </div>
            <div class="form-group">
              <label for="site-url">Site URL:</label>
              <input type="url"  class="form-control" id="site-url" placeholder="https://www.amazon.com" required>
            </div>
            <!-- <div class="form-group"> -->
              <label for="site-desscription">Site Description</label>
              <textarea class="form-control" id="site-description" rows="3" placeholder="Enter a brief description of the website"></textarea>
            <!-- </div> -->
            <div class="form-check" id="shareOption">
              <div class="row">
                <div class="col">
                  <input class="form-check-input" type="radio" name="shareLinkOption" id="shareLink" value="true" checked>
                  <label class="form-check-label" for="shareLink">Share</label>
                </div>
                <div class="col">
                  <input class="form-check-input" type="radio" name="shareLinkOption" id="privateLink" value="false">
                  <label class="form-check-label" for="privateLink">Private</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="new-link-submit" type="button" class="btn btn-primary">Submit Link</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Link Form -->
<div class="newLink-box">
  <img class="profileImg"src="https://placehold.it/100x100" alt="">
  <button class="close-btn"><span class="material-icons clear"></span></button>
  <div class="row">
    <div class="col">
      <h5 class="modal-title" id="add-link-title" align="center">Share Your Links Here</h5>
    </div>
  </div>
  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
    <form class="add-link">
      <div class="form-group">
        <label for="site-title">Site Title:</label>
        <input type="text" class="form-control" id="site-title" placeholder="Name of Site">
      </div>
      <div class="form-group">
        <label for="site-url">Site URL:</label>
        <input type="url"  class="form-control" id="site-url" placeholder="https://www.amazon.com" required>
      </div>
      <!-- <div class="form-group"> -->
        <label for="site-desscription">Site Description</label>
        <textarea class="form-control" id="site-description" rows="3" placeholder="Enter a brief description of the website"></textarea>
      <!-- </div> -->
      <div class="form-check" id="shareOption">
        <div class="row">
          <div class="col">
            <input class="form-check-input" type="radio" name="shareLinkOption" id="shareLink" value="true" checked>
            <label class="form-check-label" for="shareLink">Share</label>
          </div>
          <div class="col">
            <input class="form-check-input" type="radio" name="shareLinkOption" id="privateLink" value="false">
            <label class="form-check-label" for="privateLink">Private</label>
          </div>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button id="new-link-submit" type="button" class="btn btn-primary">Submit Link</button>
    </div>
</div>
<!------------------------------------------------------>

  <!-- User Profile Form -->
<div class="profile-box">
  <img class="profileImg"src="https://placehold.it/100x100" alt="">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-row name-row mb-3">
          <div class="col firstName-col">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" placeholder="(Optional)">
          </div>
          <div class="col lastName-col">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" placeholder="(Optional)">
          </div>
        </div>
        <div class="row bio-row mb-3">
          <div class="col bio-col">
            <label for="user-bio">Short Bio:</label>
            <div class="input-group">
              <textarea class="form-control" id="userBio" rows="3" placeholder="Tell us a little bit about yourself..."></textarea>
            </div>
          </div>
        </div>
        <div class="rows profile-pic-row mt-3">
          <div class="col profile-pic-col">
            <label for="userImg">Profile Picture:</label>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="userImage">
                <label class="custom-file-label userImgLabel" for="userImage">Click here to upload profile picture</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" align="center">
          <div class="col mt-3">
            <button id="profile-submit" class="profile-submit" type="submit" name="button">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


  <script src="../assets/js/newlink.js"></script>
  <script src="../assets/js/logic.js"></script>
