body {
  margin: 0 auto;
  padding: 0;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.75)!important;
}
/* LOG OUT BUTTON */
.logout-btn, .close-btn {
  background-color: transparent;
  border: none;
}
.clear {
/* position:relative; */
display:inline-block;
}
.clear:after {
content: "clear";
color: coral;
font-size: 44px;
text-shadow: 0 0 10px lightgray;
cursor: pointer!important;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

/************************************/

/* JUNBOTROM AND LANDING CSS */
.jumbotron-fluid {
  position: relative;
  text-align: center;
  min-height: 550px;
}
.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-container p {
  padding: 10px 40px;
}
.loginBtn, .signupBtn {
  background-color: coral;
  color: black;
}
.loginBtn, .signupBtn {
  border: none;
  color: white;
  font-size: 22px;
  text-shadow: 0 0 5px black;
  width: 130px;
  height: 50px;
  margin: 0 10px;
  border-radius: 20px;
}
.loginBtn:hover, .signupBtn:hover {
  background-color: #00b698!important;
  color: white!important;
}
.logo {
  width: 400px;
  height: auto;
  text-align: center;
}
.landing-links-bg {
  background-color: rgba(0, 0, 0, 0.75)!important;

}

.card {
color:black;}

/* FOOTER */
footer {
  /* background-color: rgba(0, 0, 0, 0.6)!important; */
  border-top: 1px solid lightgray;
}
footer button {
  background-color: rgba(0, 0, 0, 0.75)!important;
  height: 75px!important;
  border: none!important;
  border-radius: 0!important;
  margin: 0!important;
  padding: 0!important;
  padding-top: 15px!important;
}
.home {
position:relative;
display:inline-block;
}
.home:after {
content: "home";
color: coral;
font-size: 44px;
text-shadow: 0 0 10px gray;
}
.search {
position:relative;
display:inline-block;
}
.search:after {
content: "search";
color: coral;
font-size: 44px;
text-shadow: 0 0 10px gray;
}
.add {
position:relative;
display:inline-block;
}
.add:after {
content: "add";
color: coral;
font-size: 44px;
text-shadow: 0 0 10px gray;
}
.person {
position:relative;
display:inline-block;
}
.person:after {
content: "person";
color: coral;
font-size: 44px;
text-shadow: 0 0 10px gray;
}
/*********************************/

/* LOGIN FORM MODAL */
.login-box {
  background-color: rgba(0, 0, 0, 0.75);
  color: coral;
  padding: 0 3em;
  height: 470px;
  min-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* visibility: hidden; */
}
.login-box-hidden {
  visibility: hidden;
}
.linkUpText {
  color: #00b698!important;
}
.linkUpText:hover {
  color: #fff!important;
}
#login-submit {
  background-color: coral;
  border: none;
  color: white;
  font-size: 22px;
  text-shadow: 0 0 5px black;
  width: 130px;
  height: 50px;
  margin: 0 10px;
  border-radius: 20px;
}
/* Signup FORM MODAL */
.signup-box {
  background-color: rgba(0, 0, 0, 0.75);
  color: coral;
  padding: 0 3em;
  height: 580px;
  min-width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* visibility: hidden; */
}
#birthday {
  width: 100%;
  height: 45px;
}
#signup-submit {
  background-color: coral;
  border: none;
  color: white;
  font-size: 22px;
  text-shadow: 0 0 5px black;
  width: 130px;
  height: 50px;
  margin: 0 10px;
  border-radius: 20px;
}
.modal-footer {
  border: none;
}

/* USER PROFILE EDIT DIVZ */
/* .user-bg {
  background-color: yellow;
  background-image: url(../../assets/images/abstract.jpg);
} */
.user-container {
  max-width: 960px;
  padding-left: 70px;
  padding-top: 50px;
}
.user-link-col {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
}
.profile-box {
  background-color: rgba(0, 0, 0, 0.75);
  color: coral;
  padding: 0 3em;
  height: 560px;
  min-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  visibility: hidden;
}
.newLink-box {
  background-color: rgba(0, 0, 0, 0.75);
  color: coral;
  padding: 0 3em;
  height: 590px;
  min-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#shareOption {
  margin-top: 20px;
}


/* .profile-box-hidden {
  background-color: rgba(0, 0, 0, 0.75);
  color: coral;
  padding: 1.25em;
  height: 520px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
} */
::placeholder {
  color: lightgray;
}
.profileImg {
  border: 2px solid coral;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}
.profile-pic-col {
  padding: 0;
}
.profile-submit, #new-link-submit {
  background-color: coral;
  border: none;
  color: white;
  font-size: 22px;
  text-shadow: 0 0 5px black;
  width: 140px;
  height: 50px;
  margin: 0 10px;
  margin-top: 20px;
  border-radius: 20px;
  /* background-color: coral;
  color: black;
  border-color: black;
  border-radius: 20px;
  width: 100px;
  height: 40px; */
}
#new-link-submit {
  margin-top: 5px;
}
.profile-submit:hover, #new-link-submit:hover,
#signup-submit:hover, #login-submit:hover {
  background-color: #00b698;
  color: #fff;
  text-shadow: none;
}

input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #00b698;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

#firstName, #lastName, #userBio,
#userImage, #birthday, .userImgLabel,
.form-control, #password-check, #password-input,
#email-check, #email-input, #username-input,
#email-signup, #password-signup, #site-title,
#site-url, #site-description {
  background-color: transparent!important;
  border: none;
  border-bottom: 1px solid coral;
  border-radius: 0;
  color: #fff;
}
#birthday {
  color: gray;
}
.userImgLabel {
  color: #878787;
}
.custom-file-label::after {
  visibility: hidden;
}
/************************************************/
