body {
  margin: 0 auto;
  padding: 0;
}

.navbar {
  background-color: rgba(249, 250, 251, 0.4)!important;
}

.card {
color:black;}

/* FOOTER */
footer {
  background-color: rgba(249, 250, 251, 0.74)!important;
  border-top: 1px solid lightgray;
}
footer button {
  background-color: rgba(249, 250, 251, 0.4)!important;
  height: 75px!important;
  border: none!important;
  margin: 0!important;
  padding: 0!important;
  padding-top: 15px!important;
}
.logout-btn {
  background-color: transparent;
}
.clear {
position:relative;
display:inline-block;
}
.clear:after {
content: "clear";
color: black;
font-size: 44px;
text-shadow: 0 0 10px gray;
}
.home {
position:relative;
display:inline-block;
}
.home:after {
content: "home";
color: blue;
font-size: 44px;
text-shadow: 0 0 10px gray;
}
.search {
position:relative;
display:inline-block;
}
.search:after {
content: "search";
color: yellow;
font-size: 44px;
text-shadow: 0 0 10px gray;
}
.add {
position:relative;
display:inline-block;
}
.add:after {
content: "add";
color: green;
font-size: 44px;
text-shadow: 0 0 10px gray;
}
.person {
position:relative;
display:inline-block;
}
.person:after {
content: "person";
color: red;
font-size: 44px;
text-shadow: 0 0 10px gray;
}
